/* X-Large devices  */
@media (max-width: 1399.98px) {
}

/* Large devices  */
@media (max-width: 1199.98px) {
}

/* Medium devices  */
@media (max-width: 991.98px) {
}

/* Small devices  */
@media (max-width: 767.98px) {
}

/* X-Small devices  */
@media (max-width: 575.98px) {
  .topPartFlex {
    width: 100%;
    flex-wrap: wrap;
  }
  .info {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
  }
  .email {
    width: 100%;
    justify-content: center !important;
    padding-right: 0 !important;
  }
  .social {
    width: 100%;
    margin-top: 15px;
  }
  /* Header Section Start */
  .navbar-nav {
    padding-top: 10px;
    background: #ffaa17;
    border-radius: 10px;
  }
  .navbar-collapse {
    margin-top: 10px;
  }
  .nav-item {
    text-align: center;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Header Section End */
  /* banner Section Start */
  .bannerPart {
    padding: 40px 0;
  }
  .bannerText {
    text-align: center;
  }
  .bannerText h1 {
    font-size: 45px;
  }
  .bannerText p {
    font-size: 14px;
  }
  .bannerImg img {
    width: 400px;
    height: 400px;
    margin-top: 5px;
  }
  .exprienceBatch {
    position: absolute;
    top: 60%;
    right: 10%;
    width: 250px;
    height: 135px;
}
  /* .banner  Section End  */
}
