/* X-Large devices  */
@media (max-width: 1399.98px) {
}

/* Large devices  */
@media (max-width: 1199.98px) {
}

/* Medium devices  */
@media (max-width: 991.98px) {
}

/* Small devices  */
@media (max-width: 767.98px) {
}

/* X-Small devices  */
@media (max-width: 575.98px) {
  .topPartFlex {
    width: 100%;
    flex-wrap: wrap;
  }
  .info {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
  }
  .email {
    width: 100%;
    justify-content: center !important;
    padding-right: 0 !important;
  }
  .social {
    width: 100%;
    margin-top: 15px;
  }
  /* Header Section Start */
  .navbar-nav {
    padding-top: 10px;
    background: #ffaa17;
    border-radius: 10px;
  }
  .navbar-collapse {
    margin-top: 10px;
  }
  .nav-item {
    text-align: center;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Header Section End */
  /* banner Section Start */
  .bannerPart {
    padding: 40px 0;
  }
  .bannerText {
    text-align: center;
  }
  .bannerText h1 {
    font-size: 35px;
  }
  .bannerText p {
    font-size: 12px;
  }
  .bannerImg img {
    width: 380px;
    height: 380px;
    margin-top: 5px;
  }
  .exprienceBatch {
    position: absolute;
    top: 75%;
    right: 15%;
    width: 170px;
    height: 100px;
  }
  .badgeImg h3 {
    font-size: 20px;
    color: #ff5405;
  }
  .badgeImg h3 span {
    font-size: 12px;
    color: #ff5405;
  }
  .teamPerson {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .teamPersonOne img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
  }
  /* banner  Section End  */
  /* advatismant Section End */
  .advatismantPart {
    /* padding: 10px; */
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 10px;
  }
  .mobileFlex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .mobileFlex h4 {
    font-size: 16px;
  }
  /* advatismant Section End  */

  /* service Section Start  */
  .servicePart {
    padding: 0 10px;
    padding-bottom: 50px;
  }
  .ServiceCard {
    margin-left: 10px;
  }
  .serviceText h3 {
    font-size: 30px;
  }
  /* service Section End   */

  /* Power Section Start  */
  .serviceText h3 {
    padding-left: 10px;
  }
  .serviceText p {
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 30px !important;
  }
  .counterUp {
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .powerImg {
    width: 100%;
  }
  /* Power Section End   */
  .powerImg img {
    width: 100%;
  }
  .poweBadge {
    width: 170px;
    height: 90px;
    background: #ffaa17;
    border-radius: 20px;
    position: absolute;
    bottom: -40px;
    right: 40px;
  }
  .poweBadge i {
    font-size: 30px;
  }
  .poweBadge p {
    font-size: 14px;
  }
  /* Power Section End   */

  /* service Section Start  */
  .teampart {
    padding: 40px 0;
  }
  .teamMember {
    width: 100%;
  }
  .teamDetails {
    padding: 0 15px;
  }
  .leftText h4 {
    font-size: 25px;
  }
  .leftText p {
    font-size: 12px;
  }
  .middleText p {
    font-size: 16px;
  }
  .leftText{
    margin-bottom: 20px;
  }
  /* service Section End   */

  /* service Section Start  */

  /* service Section End   */

  /* backToTop Section Start  */
  .backToTop {
    font-size: 30px;
  }
  /* backToTop Section End   */
}
