* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  /* line-height: 0.8; */
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
}
/* Top Part Section Start */
.topPart {
  padding: 20px 0;
  background: #ffaa17;
}
.email p {
  font-size: 16px;
  font-weight: 16px;
  font-family: "Manrope" sans-serif;
}
.location p {
  font-size: 16px;
  font-weight: 16px;
  font-family: "Manrope" sans-serif;
}
.socialIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(128, 128, 128, 0.322);
}
.socialIcon {
  position: relative;
}
.socialIcon i {
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Top Part Section End  */
/* Header Section Start  */
.nav-item {
  padding: 0 10px;
}
.nav-link {
  color: black;
  font-size: 18px;
  font-weight: 600;
  font-family: "Manrope" sans-serif;
}
.contactBtn {
  padding: 13px 30px;
  color: black;
  background: #ffaa17;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Manrope" sans-serif;
  cursor: pointer;
  transition: .5s;
}
.contactBtn:hover {
  background: #ffff;
  border: 1px solid #ffaa17;

}
/* Header Section End   */

/* Banner Section Start  */

.bannerPart {
  padding: 100px 0;
}
.bannerText h1 {
  font-size: 65px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.bannerText h1 span {
  color: #ffaa17;
}
.bannerText p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Manrope" sans-serif;
  padding: 20px 0;
}
.bannerText h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Manrope" sans-serif;
  padding: 20px 0;
}
.bannerImg img {
  width: 600px;
  height: 600px;
  margin-top: -80px;
}
.bannerImg{
  position: relative;
}
.exprienceBatch {
  position: absolute;
  top: 50%;
  right: 0;
  width: 320px;
  height: 150px;
  background: whitesmoke;
  -webkit-box-shadow: 5px 5px 10px -6px rgba(128, 128, 128, 0.529);
  -moz-box-shadow: 5px 5px 10px -6px rgba(128, 128, 128, 0.464);
  box-shadow: 5px 5px 10px -6px rgba(128, 128, 128, 0.449);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.badgeImg{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.badgeImg h3{
  font-size: 30px;
  font-weight: 700;
  font-family: "Manrope" sans-serif;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.teamPerson{
  display: flex;
  justify-content: start;
  align-items: center;
}
.badgeImg h3 span{
  font-size: 18px;
  font-weight: 400;
}
.teamPersonOne img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
}
/* Banner Section End   */

/* advatismant Section Start  */
.advatismantPart{
  padding: 20px 0;
  background: black;
  margin: 0 auto;
}
.mobileFlex h4{
  font-size: 35px;
  font-weight:200;
  color: white;
  font-family: "Poppins", sans-serif;
}
.mobileFlex img{
  width: 40px;
  height: 40px;
}
/* advatismant Section End   */

/* service Section Start  */
.servicePart{
  padding-bottom: 100px;
}
.serviceText h3{
  font-size: 45px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.ServiceCard{
  padding-top: 20px;
  border-top: 1px solid gray;
  width: 100%;
}
.ServiceCard img{
  width: 50px;
  height: 50px;
}
.serviceBtn{
  padding: 12px 30px;
  background: transparent;
  border: 1px solid #ffaa17;
  border-radius: 20px ;
  color: black;
  font-family: "Manrope" sans-serif;
  transition: .5s;
}
.serviceBtn:hover {
  background: #ffaa17;
}
/* service Section End   */
.serviceText p{
  font-size: 14px;
  font-weight: 400;
  color: gray;
  font-family: "Manrope" sans-serif;

}
/* service Section Start  */

/* Power Section End   */
.powerPart{
  padding-bottom: 100px;
}
.clintReview{
  width: 33%;
}
.clintReview h4{
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.clintReview p{
  font-size: 12px;
  font-weight: 400;
  font-family: "Manrope" sans-serif;
  color: #7A7A7A;
}
.powerImg img{
  border-radius: 20px;
}
.powerRightPart{
  position: relative;
}
.poweBadge{
  width: 250px;
  height: 120px;
  background: #ffaa17;
  border-radius: 20px;
  position: absolute;
  bottom: -60px;
  right: -10px;
}
.poweBadge i{
  font-size: 50px;
}
.poweBadge p{
  font-size: 20px;
  font-weight: 700;
  font-family: "Manrope" sans-serif;
}
/* Power Section Start  */

/* service Section End   */
/* service Section Start  */

/* service Section End   */
/* service Section Start  */

/* service Section End   */
/* service Section Start  */

/* service Section End   */

/* font-family: "Manrope" sans-serif;
font-family: "Poppins", sans-serif; */
